.ContainerApp {
    width: 100%;
    min-width: 360px;
    max-width: 700px;
    margin: 10% auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: relative;
}